[user]
	email = 0xleo.git@gmail.com
	name = 0xleo
[push]
	default = current
[core]
	editor = vim
[alias]
	a = add -A
	al = add --all
	ba = branch -a
	cl = clone
        clcd = !git clone "$1" && cd  "`ls -1dt ./*/ | head -n 1`"
	cm = commit -m
	cma = commit --ammend
	cmdiff = !git diff $1~ $1 # $1 is the commit hash
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	deleted = ls-files --deleted
	f = fetch
	fu = !git fetch `git upstream-remote`
	l = log --pretty=custom
	lg = log --graph --pretty=custom
	modified = ls-files --modified
	pl = pull
	pname = config --local remote.origin.url|sed -n 's#.*/\([^.]*\)\.git#\1#p'
	ps = push
	sh = stash
	st = status
	staged = ls-files --staged
	subup = submodule update --init --recursive
	unstage = !git reset HEAD -- $1
	untracked = ls-files --other --exclude-standard
[pretty]
	custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
